// Colors
$BLUE: #2B6CB0;
$WHITE: #FFF;
$GRAY: #65748B;
$GRAY-LIGHT: #94A3B8;
$GRAY-FILTER: #757575;
$TEXT: #334155;
$RED: #9b0000;

$STATUS-GREEN: #2E8B2E;
$STATUS-RED: #C0392B;
$STATUS-GRAY: #525252;
$STATUS-YELLOW: #e48d0a;