.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    border-radius: 10px;
    background: $BLUE;
    color: $WHITE;
    font-size: 15px;
    font-weight: 700;
    transition: all .3s ease-in-out;

    &:hover {
        background: darken($BLUE, 7);
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: $WHITE
    }
}